html, body {
  height: 100%;
}

body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  /* gradiente começando em 0 com vermelho e 100% em preto */
  background: linear-gradient(
    180deg,
    rgb(110, 0, 0) 0%,
    rgb(0, 0, 0) 100%
  );
  color: white;
}


